<h1>Friend</h1>

<h2>My Friend List</h2>
<div class="infor">
    <table>
        <tr>
            <td>
                <h3>First Name</h3>
            </td>
            <td>
                <h3>Last Name</h3>
            </td>
            <td>
                <h3>Nick Name</h3>
            </td>
            <td>
                <h3>GitHub Pages</h3>
            </td>
        </tr>
        <tr>
            <td>
                Adam
            </td>
            <td>
                Tomson
            </td>
            <td>
                Adam
            </td>
            <td>
                <a id="git"
                    href="https://camt-mmit.github.io/2022_02-954447-001-week-02-dom-and-javascript-ArmPongpon180/">Lab02</a>
                <a id="git"
                    href="https://camt-mmit.github.io/2022_02-954447-001-week-03-typescript-ArmPongpon180/">Lab03</a>
                <a id="git" href="">LAB04</a>
            </td>
        </tr>
        <tr>
            <td>
                Pormpitak
            </td>
            <td>
                pum
            </td>
            <td>
                Pumper
            </td>
            <td>
                <a id="git"
                    href="https://camt-mmit.github.io/2022_02-954447-001-dom-and-javascript-PumXPer/?fbclid=IwAR1sd6J5YeUcCUDnhAX5cag4Aop8Cs30VnFao4_nCRNwKQx23Kl0iqZ_YdI">Lab02</a>
                <a id="git"
                    href="https://camt-mmit.github.io/2022_02-954447-001-week-03-typescript-PumXPer/?fbclid=IwAR036dcongn67Cs8B0jwPEkCKFAE5SGGFzMZAMqCFj7rDZYkpYdsfCVet1M">Lab03</a>
                <a id="git"
                    href="https://camt-mmit.github.io/2022_02-954447-001-week-04-basic-angular-PumXPer?fbclid=IwAR036dcongn67Cs8B0jwPEkCKFAE5SGGFzMZAMqCFj7rDZYkpYdsfCVet1M">LAB04</a>
            </td>
        </tr>
    </table>
</div>