a {
    color: blue;
    margin-right: 5px;
    text-decoration: none;
    border: 1px solid blue;
    border-radius: 4px;
    }
    a.st-active {
    background-color: silver;
    }

#git {
    border-radius: 12px;
    padding: 3px;
}