<h1> My Profile </h1>
<h2> Basic Information </h2>
<ul>
    <li>
        <strong>Name:</strong> Susan Smith
    </li>
    <li>
        <strong>Gender:</strong> Female
    </li>
    <li>
        <strong>Age:</strong> 18
    </li>
</ul>

<h2>Autobiolography</h2>

Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque at fugiat amet iusto, sint ipsam omnis saepe ratione, odio beatae velit, accusantium minus molestiae ea esse explicabo distinctio. Eligendi, atque nostrum! Saepe, totam! Asperiores soluta quos, illo praesentium iusto modi quasi cupiditate deserunt iure aut. Ad nemo minima fuga in.

<h2>GitHub Pages</h2>
<a id="git" href="https://camt-mmit.github.io/2022_02-954447-001-week-02-dom-and-javascript-ArmPongpon180/">Lab02</a>
<a id="git" href="https://camt-mmit.github.io/2022_02-954447-001-week-03-typescript-ArmPongpon180/">Lab03</a>
<a id="git" href="">LAB04</a>