<h1> My Profile </h1>
<h2> Basic Information </h2>
<ul>
    <li>
        <strong>Name:</strong> Pongpol Prommacharoen
    </li>
    <li>
        <strong>Gender:</strong> Male
    </li>
    <li>
        <strong>Age:</strong> 21
    </li>
</ul>

<h2>Autobiolography</h2>
<p>
    I was born on a wain, sunny day in September 26 2001 in Lamphun, Thailand. I still live in Lamphun , Thailand, and I go to school at Chakkhamkhanathon school. I live with my family. When i was born my older sister was 11 years old 
</p>

<h2>GitHub Pages</h2>
<a id="git" href="https://camt-mmit.github.io/2022_02-954447-001-week-02-dom-and-javascript-ArmPongpon180/">Lab02</a>
<a id="git" href="https://camt-mmit.github.io/2022_02-954447-001-week-03-typescript-ArmPongpon180/">Lab03</a>
<a id="git" href="https://camt-mmit.github.io/2022_02-954447-001-week-04-basic-angular-ArmPongpon180/hello-world">LAB04</a>