<h1> Status </h1>
<table>
    <tr>
        <td><strong>Current Time</strong></td>
        <td><span>::</span></td>
        <p> {{date}} </p>
    </tr>
    <tr>
        <td><strong>User Agnet</strong></td>
        <td><span>::</span></td>
        <p> {{agent}} </p>
    </tr>
    <tr>
        <td><strong>Languages</strong></td>
        <td><span>::</span></td>
        <p> {{lang}} </p>
    </tr>
    <tr>
        <td><strong>Is Cookie Enagled?</strong></td>
        <td><span>::</span></td>
        <p> {{cookie}} </p>
    </tr>
    <tr>
        <td><strong>Logical Processors</strong></td>
        <td><span>::</span></td>
        <p> {{logic}} </p>
    </tr>
    <tr>
        <td><strong>Max Touch Points</strong></td>
        <td><span>::</span></td>
        <p> {{points}} </p>
    </tr>
</table>